{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row justify-content-md-center">
    <div class="col">
    </div>

    <div class="col-8">
      <h1>Thanks {{ user.username }} for your vote</h1>
      <p>Your vote has been successfully recorded.</p>

      {% if choices|length == 0 %}
      <p>A blank vote has been submitted</p>
      {% else %}
      <p>Your choices ({{ numberchoices }}) : {{ choices }}</p>
      {% endif %}
    </div>

    <div class="col">
    </div>
  </div>
</div>

{% endblock content %}
